html{
    font-family: 'Zilla Slab', serif;
}

body {
    background-color: whitesmoke;
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* justify-items: center; */    
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#name {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

#logo {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
    font-size: 13px;
    align-self: start;
    margin-left: 50px;
    margin-top: 30px;
}

#logo-name {
    line-height: 4;
    font-style: italic;
    font-weight: bold;
}

#logo:hover {
    animation-name: rotate;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#image {
    width: 50%;
    border-radius: 50%; 
    /* centering the image */
    /* display: block;*/
}
#image-text {
    font-size: 13px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
#image:hover {
    cursor: pointer;
}

#container {
  background: white;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  overflow-y: auto;
}

#name {
    font-size: 50px;
    background: white;
}

#intro {
    text-align: left;
    padding-right: 20px;
    padding-left: 50px;
    padding-bottom: 40px;
}

header {
    position: relative;
}

footer {
  margin: 50px;
  display: inline-block;
  font-size: 20px;
}

a:visited {
    color: darkblue;
}
