html {
  font-family: "Zilla Slab", serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

h1 {
  grid-column: span 2;
  text-align: center;
  letter-spacing: 1px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#logo {
  border: 1px solid black;
  /* width: 50px; */
  height: 50px;
  width: 55px; 
  height: 55px; 
  border-radius: 27.5px;
  /* -webkit-border-radius: 25px;
  -moz-border-radius: 25px; */
  /* border-radius: 25px; */
  background: white;
  font-size: 13px;
  align-self: start;
  margin-left: 50px;
  margin-top: 30px;
}

#logo-name {
  line-height: 4;
  font-style: italic;
  font-weight: bold;
  /* padding-left:2px;
  padding-right: 2px;
  padding-bottom: 2px; */
  padding: 2px;
}

#logo:hover {
  animation-name: rotate;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

#image {
  width: 50%;
  border-radius: 50%;
  /* centering the image */
  /* display: block;*/
}
#image-text {
  font-size: 13px;
  padding-bottom: 20px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-style: italic
}

#image:hover {
  cursor: pointer;
}

#container {
  background: white;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  overflow-y: auto;
}

#name {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 50px;
  text-align: left;
  padding-left: 50px;
}

#intro {
  text-align: left;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 40px;
}

header {
  position: relative;
}

footer {
  margin: 50px;
  display: inline-block;
  font-size: 17px;
  opacity: 0.8;
  font-style: italic
}

a:visited {
  color: black;
}

@media (max-width: 508px) {

  #name{
    padding: 10px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 2;
  }

  #container {
    display: grid;
    grid-template-columns: 100%;
  }

  #intro{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 18px;
    padding-left: 30px;
  }
}